<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jyt.baseapp">

    <!-- 权限声明 -->
    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 允许程序使用PowerManager WakeLocks以防止处理器休眠或者屏幕锁屏 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- 允许程序向外部存储设备写数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 允许程序向外部存储设备读数据 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- 允许程序获取网络相关信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 允许程序获取Wifi网络状态信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 允许程序获得设备信息 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.Camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".App"
        >

        <activity android:name=".view.activity.WelComeActivity" android:screenOrientation="portrait" android:label=""></activity>

        <activity android:name=".view.activity.LoginActivity" android:screenOrientation="portrait" android:label="" android:launchMode="singleTask" android:windowSoftInputMode="adjustResize">

        </activity>

        <activity android:name=".view.activity.ResetPsdActivity" android:screenOrientation="portrait" android:label="忘记密码"></activity>
        <activity android:name=".view.activity.MainActivity" android:screenOrientation="portrait" android:label="首页"  android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>

        <activity android:name=".view.activity.PersonCenterActivity" android:screenOrientation="portrait" android:label="个人中心"></activity>

        <activity android:name=".view.activity.MyCoinActivity" android:screenOrientation="portrait" android:label="我的娃娃币"></activity>

        <activity android:name=".view.activity.AddressListActivity" android:screenOrientation="portrait" android:label="我的收货地址"></activity>

        <activity android:name=".view.activity.EditAddressActivity" android:screenOrientation="portrait" android:label="编辑地址"></activity>

        <activity android:name=".view.activity.OrderListActivity" android:screenOrientation="portrait" android:label="娃娃配送订单"></activity>
        
        <activity android:name=".view.activity.RoomActivity" android:screenOrientation="portrait" android:label="抓娃娃">


        </activity>

        <activity android:name=".view.activity.DollDetailActivity"  android:screenOrientation="portrait" android:label="我的娃娃"></activity>

        <activity android:name=".view.activity.VersionInfoActivity" android:screenOrientation="portrait" android:label="版本信息">

        </activity>

        <activity android:name=".view.activity.MyWaWaActivity" android:screenOrientation="portrait" android:label="我的娃娃"></activity>

    <activity android:name=".view.activity.OrderDetailActivity" android:screenOrientation="portrait" android:label="订单详情"></activity>
    </application>

</manifest>
