<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jyt.baseapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".App"
        >

        <activity android:name=".view.activity.WelComeActivity" android:screenOrientation="portrait" android:label=""></activity>

        <activity android:name=".view.activity.LoginActivity" android:screenOrientation="portrait" android:label="">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>

        <activity android:name=".view.activity.ResetPsdActivity" android:screenOrientation="portrait" android:label="忘记密码"></activity>
        <activity android:name=".view.activity.MainActivity" android:screenOrientation="portrait">

        </activity>

        <activity android:name=".view.activity.PersonCenterActivity" android:screenOrientation="portrait" ></activity>

        <activity android:name=".view.activity.MyCoinActivity" android:screenOrientation="portrait" android:label="我的娃娃币"></activity>

        <activity android:name=".view.activity.AddressListActivity" android:screenOrientation="portrait" android:label="我的收货地址"></activity>

        <activity android:name=".view.activity.EditAddressActivity" android:screenOrientation="portrait" android:label="编辑地址"></activity>

        <activity android:name=".view.activity.OrderListActivity" android:screenOrientation="portrait" android:label="娃娃配送订单"></activity>
        
        <activity android:name=".view.activity.RoomActivity" android:screenOrientation="portrait" android:label="抓娃娃">


        </activity>

        <activity android:name=".view.activity.DollDetailActivity"  android:screenOrientation="portrait" android:label="我的娃娃"></activity>

        <activity android:name=".view.activity.VersionInfoActivity" android:screenOrientation="portrait" android:label="版本信息">

        </activity>
    </application>

</manifest>
